@import "themes/catppuccin-default"

configuration {
    font: "UbuntuNerd Font 13";
}

window {
	background-color:	rgba(30,30,46,0.90);  
	transparency:		"real";
	border:           	3px;
	border-color:		@teal;
	border-radius:	  	8px;
	margin: 			0px 0px 0px 8px;	    
    width:            	32%;        
}

mainbox {
	padding: 14px;
}

listview {
	border: 	0; 
	columns:  	1;
    lines:    	18;
 	padding:  	2px 0px 0px;
	scrollbar:	false;
    spacing:  	6px;    
}

inputbar {
    enabled: false;
}   

element-text {
    text-color: inherit;
}

element selected normal, element selected active {
    background-color:	inherit;
    text-color:         @text;
  }

element normal normal {
	background-color:	transparent;
}
element alternate normal {
    background-color:	transparent;
    text-color: 		@text;
}
