[Desktop Entry]
Type=Application
Name=Mise à jour
Comment=Mise à jour système
Exec=/home/$USER/.scripts/update
Icon=update-notifier
Categories=System
